<h1>Metodologia a Implementar</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "objetivos", :action => "new"%>
<%= link_to 'Siguiente', :controller => "publicacion_esperadas", :action => "new"%>