<h1>Presupuesto</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "participaciones_acts", :action => "new" %>
<%= link_to 'Guardar', :controller => "participaciones_acts", :action => "new" %>
