<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre categoria:</strong>
  <%= @categorium.nombre_categoria %>
</p>

<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
