<h1>Participantes del Proyecto</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "datos_generales_avances", :action => "new" %>
<%= link_to 'siguiente', :controller => "publicaciones_planeadas_avances", :action => "new" %>
