<h1>Publicaciones Esperadas</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "metodologia", :action => "new" %>
<%= link_to 'Siguiente', :controller => "cronogramas", :action => "new" %>
