<div class= "fondo">
<div class="page-header2">
<h1><strong>Publicaciones Esperadas</strong><small><strong> en el Proyecto</strong></small></h1></div>
<h1></h1>
<%= render 'form' %>
<%= link_to 'Atras', :controller => "metodologia", :action => "new" %>
 </div>