<h1>Monitoreo de Publicaciones Planeadas</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller: => "participantes_proyecto_avances", :action => "new"%>
<%= link_to 'Siguiente', :controller: => "desarrollo_ejcucion_avances", :action => "new"%>
