<h1>Monitoreo Riesgos</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "monitoreo_beneficio_avances", :action => "new"%>
<%= link_to 'Siguiente', :controller => "control_entrega_avances", :action => "new"%>
