<h1>Monitoreo Beneficio</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "ciencia_tecnologia_avances", :action => "new"%>
<%= link_to 'Siguiente', :controller => "monitoreo_riesgos_avances", :action => "new"%>
