<h1>Participaciones en Actividades de Ciencia y Tecnología</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "cronogramas", :action => "new" %>
<%= link_to 'Siguiente', :controller => "presupuestos", :action => "new" %>