<div class="container1" style="background-color: #B02B2C" >

<div class="container2" style="margin-left: 150px; margin-right: 150px; background-color: #FF7400" >

<div class="Container3" style="margin-left: 100px; margin-right: 100px; margin-top: 10px;background-color: #FFFF88">
<h1 style="margin-left:200px">Identificación del Proyecto</h1> 
</div>
<div class="Container4" style="margin-left: 100px; margin-right: 100px;background-color: #FFFF88">
<%= render 'form' %>
</div>

<%= link_to 'Atras', :controller => "datos_personales", :action => "new"%>
<%= link_to 'Siguiente', :controller => "objetivos", :action => "new"%>
</div>
</div>