<div class= "fondo">
<div class="page-header2">
<h1><strong>Datos del Proyecto</strong><small><strong> nuevo</strong></small></h1></div>
<%= render 'form' %>
<%= link_to 'Atras', :controller => "datos_personales", :action => "new"%>
</div> 