<h1>Monitoreo del Plan Viculo docente</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "desarrollo_ejcucion_avances", :action => "new"%>
<%= link_to 'Siguiente', :controller => "monitoreo_talentoh_avances", :action => "new"%>
