<h1>Ciencia Tecnologia</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "monitoreo_talentoh_avances", :action => "new"%>
<%= link_to 'Siguiente', :controller => "monitoreo_beneficio_avances", :action => "new"%>
