<h1>Definir Objetivos</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "identificacion_proyectos", :action => "new"%>
<%= link_to 'Siguiente', :controller => "metodologia", :action => "new"%>