<h1>Datos Personales del Investigador/Innovador</h1>

<%= render 'form' %>

<%= link_to 'Atras', :controller => "welcome", :action => "index" %>
<%= link_to 'Siguiente', new_identificacion_proyecto_path%>