<div class= "fondo">
<div class="page-header2">
<h1><strong>Datos Personales </strong><small><strong>(Investigador/Innovador)</strong></small></h1></div>
<%= render 'form' %>
<%= link_to 'Atras', :controller => "welcome", :action => "index" %>
</div>